.page_content {
    overflow-y: auto;
    height: inherit;
    background: url('~@/assets/bg.gif') center center no-repeat;
    background-size: 100% 100%;
    position: fixed;
    width: inherit;
  }
  @media only screen and (max-width: 600px) {
    .page_content {
      background: url('~@/assets/bg_phone.gif') center center no-repeat;
      background-size: 100% 100%;
      height: calc(100% - 25px);
    }
  }
  @keyframes lineColorChange {
    from {border-top: transparent 6px dotted;}
    to {border-top: #d4c0a2 6px dotted;}
  }
  @keyframes fontColorChange {
    from {color: transparent;}
    to {color: #737373;}
  }
  .title {
    font-size: 80px;
    color: #737373;
    font-weight: 700;
    text-align: right;
    animation-name: fontColorChange;
    animation-duration: 3.5s;
  }
  @media only screen and (max-width: 600px) {
    .title {
        font-size: 25px;
    }
  }
  .title_line {
    border-top: #d4c0a2 6px dotted;
    animation-name: lineColorChange;
    animation-duration: 3.5s;
  }
  .content_dot {
    font-size: x-small;
    margin-right: 10px;
    margin-left: 10px;
  }
  .content_logo {
    margin: auto 5px;
  }
  .content_check {
    margin-right: 10px;
  }
  .content_link {
    color: #EBD1C1;
    font-size: medium;
  }
  .content_link:hover {
    color: #D4BFA1;
    font-size: medium;
  }
  .school_logo {
      width: 200px;
      height: 200px;
      background: url('~@/assets/Soochow_University_logo.svg.png') center center no-repeat;
      background-size: contain;
      margin: auto auto;
    }
  @media only screen and (max-width: 600px) {
    .school_logo {
      display: none;
    }
  }
  .content {
    font-family: 'LeagueSpartan-Regular';
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 75%;
    margin: 5% auto 0;
    padding: 10px;
  }
  @media only screen and (max-width: 600px) {
    .content {
      margin: 10% auto 0% auto;
      width: 90%;
    }
  }
  .carousel > .carousel-inner > .carousel-item > img {
    height: inherit;
    width: inherit;
  }
  .blue_line {
    src: '~@/assets/blueline.png'
  }