.page_content {
  background-color: #e7f0fd;
  /* background-color: #df7c7c; */
  /* height: inherit; */
  overflow-x: hidden;
}
.page_title {
  padding-top: 20px;
}
.fade-div {
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .page_content {
    height: inherit;
  }
  .page_title {
    padding-top: 40px;
  }
}
.carousel-caption {
  color: #000000;
  font-weight: bolder;
  text-decoration: underline;
  top: 10px;
}
.dot_div {
  padding-left: 30px;
  padding-right: 0px;
}
.description_div {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .description_div {
    padding-left: 10px;
    padding-right: 0px;
  }
}
.detail_title {
  text-align: left;
  padding-bottom: 1px;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}
@keyframes titleLineColorChange {
  from {
    border-top: transparent 6px dotted;
  }
  to {
    border-top: #d4c0a2 6px dotted;
  }
}
@keyframes fontGrayColorChange {
  from {
    color: transparent;
  }
  to {
    color: #737373;
  }
}
@keyframes fontWhiteColorChange {
  from {
    color: transparent;
  }
  to {
    color: #ffffff;
  }
}
.home_title {
  position: absolute;
  line-height: 0;
  font-size: 80px;
  color: #737373;
  font-weight: 700;
  text-align: right;
  animation-name: fontGrayColorChange;
  animation-duration: 3.5s;
  top: 45%;
  right: 0%;
  z-index: 100;
}
.home_title2 {
  position: absolute;
  line-height: 0;
  font-size: 80px;
  color: #737373;
  font-weight: 700;
  text-align: right;
  animation-name: fontGrayColorChange;
  animation-duration: 3.5s;
  top: 60%;
  right: 0%;
  z-index: 100;
}
.home_subtitle {
  position: absolute;
  line-height: 0;
  font-size: 23px;
  color: #737373 !important;
  font-weight: 700;
  text-align: right;
  animation-name: fontWhiteColorChange;
  animation-duration: 3.5s;
  top: 70%;
  right: 8%;
  z-index: 100;
}
.title {
  line-height: 70px;
  font-size: 70px;
  color: #737373;
  font-weight: 700;
  text-align: right;
  animation-name: fontGrayColorChange;
  animation-duration: 3.5s;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .title {
    font-size: 25px;
    line-height: 25px;
  }
}
.title_line {
  border-top: #d4c0a2 6px dotted;
  animation-name: titleLineColorChange;
  animation-duration: 3.5s;
}
@keyframes blueLineAnimation {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
@keyframes yellowLineAnimation {
  from {
    top: 0px;
  }
  to {
    top: 280px;
  }
}
@keyframes pinkLineAnimation {
  from {
    top: 0px;
  }
  to {
    top: 220px;
  }
}
@keyframes blueLineAnimationPhone {
  from {
    left: 0px;
  }
  to {
    left: -14%;
  }
}
@keyframes yellowLineAnimationPhone {
  from {
    left: 0px;
  }
  to {
    left: -20%;
  }
}
@keyframes pinkLineAnimationPhone {
  from {
    left: 0px;
  }
  to {
    left: -16%;
  }
}
.blue_line_vertical {
  position: absolute;
  transform: rotate(-90deg);
  top: 30%;
  left: -14%;
  animation-name: blueLineAnimation;
  animation-duration: 3.5s;
}
.yellow_line_vertical {
  position: absolute;
  transform: rotate(-90deg);
  top: 20%;
  left: -20%;
  animation-name: yellowLineAnimation;
  animation-duration: 3.5s;
}
.pink_line_vertical {
  position: absolute;
  transform: rotate(-90deg);
  top: 45%;
  left: -16%;
  animation-name: pinkLineAnimation;
  animation-duration: 3.5s;
}
.cloud {
  position: absolute;
  top: 30%;
  right: 0%;
  animation-name: pinkLineAnimation;
  animation-duration: 3.5s;
  z-index: 50;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .blue_line_vertical {
    width: 80%;
    top: 40%;
    height: 10%;
    animation-name: blueLineAnimationPhone;
  }
  .yellow_line_vertical {
    width: 80%;
    top: 30%;
    height: 10%;
    animation-name: yellowLineAnimationPhone;
  }
  .pink_line_vertical {
    width: 80%;
    top: 55%;
    height: 10%;
    animation-name: pinkLineAnimationPhone;
  }
  .cloud {
    width: 50%;
    top: 35%;
  }
  .home_title {
    top: 44%;
    line-height: 0;
    font-size: 25px;
  }
  .home_title2 {
    top: 50%;
    line-height: 0;
    font-size: 25px;
  }
  .home_subtitle {
    top: 58%;
    line-height: 0;
    font-size: 15px;
  }
}
.detail_text {
  float: left;
  width: 50%;
}
.detail_logo {
  float: left;
  width: 50%;
}
.content_logo {
  margin: 5px;
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .content_logo {
    margin: 3px;
    width: 20px;
    height: 20px;
  }
  .detail_text {
    float: left;
    width: 80%;
  }
  .detail_logo {
    float: left;
    width: 20%;
  }
}
.content_dot {
  font-size: x-small;
  margin-right: 10px;
  margin-left: 10px;
}
.content_check {
  margin-right: 10px;
}
.content_link {
  color: #ebd1c1;
  font-size: medium;
}
.content_link:hover {
  color: #d4bfa1;
  font-size: medium;
}
.school_logo {
  width: 180px;
  height: 180px;
  background: url('~@/assets/Soochow_University_logo.svg.png') center center
    no-repeat;
  background-size: contain;
  margin: auto auto;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .school_logo {
    display: none;
  }
}
.content {
  font-family: 'LeagueSpartan-Regular';
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 75%;
  margin: 5% auto;
  padding: 1%;
  transition: scale 2s;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .content {
    margin: 10% auto 0% auto;
    width: 90%;
  }
  .content h2 {
    font-size: 23px;
  }
  .content h3 {
    font-size: 18px;
  }
  .content h4 {
    font-size: 16px;
  }
  .content h5 {
    font-size: 14px;
  }
  .content div {
    font-size: 12px;
  }
  .content a {
    font-size: 12px;
  }
  .content i {
    width: 10px;
    height: 10px;
  }
}
.carousel > .carousel-inner > .carousel-item > img {
  height: inherit;
  width: inherit;
}
